In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('terrorism_data_clean.csv', index_col=False)

,iyear,extended,country_txt,region_txt,city,attacktype1_txt,targtype1_txt,targsubtype1_txt,weaptype1_txt,gname,nkilled,nwounded,start_year
0,1970,0,Dominican Republic,Central America & Caribbean,Santo Domingo,Assassination,Private Citizens & Property,Named Civilian,Unknown,MANO-D,2,5,1970
1,1970,0,Mexico,North America,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons...",Unknown,23rd of September Communist League,7,10,1970
2,1970,0,Philippines,Southeast Asia,Unknown,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,Unknown,Unknown,6,6,1970
3,1970,0,Greece,Western Europe,Athens,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,Explosives,Unknown,3,13,1970
4,1970,0,Japan,East Asia,Fukouka,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,Incendiary,Unknown,0,10,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,0,Somalia,Sub-Saharan Africa,Ceelka Geelow,Armed Assault,Military,Military Checkpoint,Firearms,Al-Shabaab,2,16,2010
181687,2017,0,Syria,Middle East & North Africa,Jableh,Bombing/Explosion,Military,Military Barracks/Base/Headquarters/Checkpost,Explosives,Muslim extremists,8,10,2010
181688,2017,0,Philippines,Southeast Asia,Kubentog,Facility/Infrastructure Attack,Private Citizens & Property,House/Apartment/Residence,Incendiary,Bangsamoro Islamic Freedom Movement (BIFM),9,9,2010
181689,2017,0,India,South Asia,Imphal,Bombing/Explosion,Government (General),Government Building/Facility/Office,Explosives,Unknown,0,14,2010
181690,2017,0,Philippines,Southeast Asia,Cotabato City,Bombing/Explosion,Unknown,Unknown,Explosives,Unknown,9,18,2010

In [15]:
df_lp = df[['iyear', 'country_txt', 'nkilled', 'nwounded', 'start_year']]
df_lp.head()

   iyear         country_txt  nkilled  nwounded  start_year
0   1970  Dominican Republic        2         5        1970
1   1970              Mexico        7        10        1970
2   1970         Philippines        6         6        1970
3   1970              Greece        3        13        1970
4   1970               Japan        0        10        1970

In [18]:
country_name = 'Mexico'
year = 1980
df_lp = df_lp[df_lp['country_txt'] == country_name]
df_lp = df_lp[df_lp['start_year'] == year]
df_lp = df_lp.drop(['start_year', 'country_txt'], axis = 1)

In [21]:
df_lp_agg = df_lp.groupby(['iyear']).sum()
df_lp_agg = df_lp_agg.reset_index()
df_lp_agg = df_lp_agg.rename(columns={'iyear': 'Year', 'nkilled': 'Number Killed', 'nwounded': 'Number Wounded'})
df_lp_agg

   Year  Number Killed  Number Wounded
0  1980             21              61
1  1981             22              34
2  1982             10              41
3  1983             12              11
4  1984             25              39
5  1985              3               6
6  1986              9              30
7  1987              8               3
8  1988             17              37
9  1989              1              14