In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('terrorism_data_clean.csv', index_col=False)

In [14]:
df.head()

,iyear,extended,country_txt,region_txt,city,attacktype1_txt,targtype1_txt,targsubtype1_txt,weaptype1_txt,gname,nkilled,nwounded,start_year
0,1970,0,Dominican Republic,Central America & Caribbean,Santo Domingo,Assassination,Private Citizens & Property,Named Civilian,Unknown,MANO-D,2,5,1970
1,1970,0,Mexico,North America,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons...",Unknown,23rd of September Communist League,7,10,1970
2,1970,0,Philippines,Southeast Asia,Unknown,Assassination,Journalists & Media,Radio Journalist/Staff/Facility,Unknown,Unknown,6,6,1970
3,1970,0,Greece,Western Europe,Athens,Bombing/Explosion,Government (Diplomatic),Embassy/Consulate,Explosives,Unknown,3,13,1970
4,1970,0,Japan,East Asia,Fukouka,Facility/Infrastructure Attack,Government (Diplomatic),Embassy/Consulate,Incendiary,Unknown,0,10,1970

In [4]:
df_1970 = df[df['start_year'] == 1970][['country_txt', 'targtype1_txt', 'iyear']]
df_1970_agg = df_1970.groupby(['country_txt', 'targtype1_txt']).count()
df_1970_agg = df_1970_agg.reset_index()
# df_1970_agg.to_csv('wc_1970.csv', header=['country', 'target_type', 'count'])

     country_txt            targtype1_txt  iyear
0    Afghanistan      Airports & Aircraft      1
1    Afghanistan  Government (Diplomatic)      1
2    Afghanistan                 Tourists      1
3    Afghanistan           Transportation      1
4        Algeria  Government (Diplomatic)      1
..           ...                      ...    ...
661        Zaire  Government (Diplomatic)      4
662       Zambia  Government (Diplomatic)      1
663       Zambia     Government (General)      3
664       Zambia           Transportation      3
665       Zambia  Violent Political Party      1

[666 rows x 3 columns]

In [24]:
df_1980 = df[df['start_year'] == 1980][['country_txt', 'targtype1_txt', 'iyear']]
df_1980_agg = df_1980.groupby(['country_txt', 'targtype1_txt']).count()
df_1980_agg = df_1980_agg.reset_index()
# df_1980_agg.to_csv('wc_1980.csv', header=['country', 'target_type', 'count'])

In [25]:
df_1990 = df[df['start_year'] == 1990][['country_txt', 'targtype1_txt', 'iyear']]
df_1990_agg = df_1990.groupby(['country_txt', 'targtype1_txt']).count()
df_1990_agg = df_1990_agg.reset_index()
# df_1990_agg.to_csv('wc_1990.csv', header=['country', 'target_type', 'count'])

In [26]:
df_2000 = df[df['start_year'] == 2000][['country_txt', 'targtype1_txt', 'iyear']]
df_2000_agg = df_2000.groupby(['country_txt', 'targtype1_txt']).count()
df_2000_agg = df_2000_agg.reset_index()
# df_2000_agg.to_csv('wc_2000.csv', header=['country', 'target_type', 'count'])

In [27]:
df_2010 = df[df['start_year'] == 2010][['country_txt', 'targtype1_txt', 'iyear']]
df_2010_agg = df_2010.groupby(['country_txt', 'targtype1_txt']).count()
df_2010_agg = df_2010_agg.reset_index()
# df_2010_agg.to_csv('wc_2010.csv', header=['country', 'target_type', 'count'])

In [10]:
country_name = 'Mexico'
df_1980 = df[df['start_year'] == 1980][df['country_txt'] == country_name][['country_txt', 'targtype1_txt', 'iyear']]
df_1980_agg = df_1980.groupby(['country_txt', 'targtype1_txt']).count()
df_1980_agg = df_1980_agg.reset_index()
df_1980_agg = df_1980_agg.drop(['country_txt'], axis = 1)
df_1980_agg = df_1980_agg.rename(columns={'targtype1_txt': 'target_type', 'iyear': 'count'})
df_1980_agg

/var/folders/c3/m44j2qx97f9bdyhx6dfy1p240000gn/T/ipykernel_69719/3665827155.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_1980 = df[df['start_year'] == 1980][df['country_txt'] == country_name][['country_txt', 'targtype1_txt', 'iyear']]

                      target_type  count
0             Airports & Aircraft      1
1                        Business      3
2         Educational Institution      1
3         Government (Diplomatic)      5
4            Government (General)      6
5             Journalists & Media      1
6                          Police      2
7     Private Citizens & Property      3
8  Religious Figures/Institutions      2
9         Violent Political Party      1